<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinRoomsWithMissedNotif</key>
	<true/>
	<key>pinRoomsWithUnread</key>
	<true/>
	<key>pushGatewayURL</key>
	<string>https://caritas.amp.care/_matrix/push/v1/notify</string>
	<key>pushKitAppIdProd</key>
	<string>care.amp.messenger.caritas.ios</string>
	<key>identityserverurl</key>
	<string>https://caritas.amp.care</string>
	<key>homeserverurl</key>
	<string>https://caritas.amp.care</string>
	<key>homeserver</key>
	<string>caritas.amp.care</string>
	<key>webAppUrl</key>
	<string>https://caritas.amp.care</string>
	<key>matrixApps</key>
	<false/>
	<key>integrationsUiUrl</key>
	<string>https://scalar-staging.caritas.amp.care/scalar-web/</string>
	<key>integrationsRestUrl</key>
	<string>https://scalar-staging.caritas.amp.care/scalar/api</string>
	<key>piwik</key>
	<dict>
		<key>url</key>
		<string>https://matomo.awesome-technologies.de/piwik.php</string>
		<key>siteId</key>
		<string>2</string>
	</dict>
	<key>showAllEventsInRoomHistory</key>
	<false/>
	<key>showRedactionsInRoomHistory</key>
	<false/>
	<key>showUnsupportedEventsInRoomHistory</key>
	<false/>
	<key>sortRoomMembersUsingLastSeenTime</key>
	<true/>
	<key>showLeftMembersInRoomMemberList</key>
	<false/>
	<key>createConferenceCallsWithJitsi</key>
	<true/>
	<key>enableRageShake</key>
	<true/>
	<key>maxAllowedMediaCacheSize</key>
	<integer>1073741824</integer>
	<key>presenceColorForOnlineUser</key>
	<integer>3401011</integer>
	<key>presenceColorForUnavailableUser</key>
	<integer>15066368</integer>
	<key>presenceColorForOfflineUser</key>
	<integer>15020851</integer>
	<key>bugReportEndpointUrl</key>
	<string>https://caritas.amp.care/bugreports</string>
	<key>bugReportApp</key>
	<string>caritas-ios</string>
	<key>roomDirectoryServers</key>
	<dict>
		<key>matrix.org</key>
		<string></string>
	</dict>
	<key>userInterfaceTheme</key>
	<string>caritas</string>
</dict>
</plist>
