<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinRoomsWithMissedNotif</key>
	<true/>
	<key>pinRoomsWithUnread</key>
	<true/>
	<key>pushGatewayURL</key>
	<string>https://vitos.amp.chat/_matrix/push/v1/notify</string>
	<key>pushKitAppIdProd</key>
	<string>chat.amp.messenger.vitos.ios</string>
	<key>identityserverurl</key>
	<string>https://fp.vitos.amp.chat</string>
	<key>homeserverurl</key>
	<string>https://fp.vitos.amp.chat</string>
	<key>homeserver</key>
	<string>fp.vitos.amp.chat</string>
	<key>webAppUrl</key>
	<string>https://fp.vitos.amp.chat</string>
	<key>matrixApps</key>
	<false/>
	<key>integrationsUiUrl</key>
	<string>https://scalar.fp.vitos.amp.chat/scalar-web/</string>
	<key>integrationsRestUrl</key>
	<string>https://scalar.fp.vitos.amp.chat/scalar/api</string>
	<key>piwik</key>
	<dict>
		<key>url</key>
		<string>https://matomo.awesome-technologies.de/piwik.php</string>
		<key>siteId</key>
		<string>-1</string>
	</dict>
	<key>showAllEventsInRoomHistory</key>
	<false/>
	<key>showRedactionsInRoomHistory</key>
	<false/>
	<key>showUnsupportedEventsInRoomHistory</key>
	<false/>
	<key>sortRoomMembersUsingLastSeenTime</key>
	<true/>
	<key>showLeftMembersInRoomMemberList</key>
	<false/>
	<key>createConferenceCallsWithJitsi</key>
	<true/>
	<key>enableRageShake</key>
	<false/>
	<key>showRageShakeOption</key>
	<false/>
	<key>maxAllowedMediaCacheSize</key>
	<integer>1073741824</integer>
	<key>presenceColorForOnlineUser</key>
	<integer>3401011</integer>
	<key>presenceColorForUnavailableUser</key>
	<integer>15066368</integer>
	<key>presenceColorForOfflineUser</key>
	<integer>15020851</integer>
	<key>bugReportEndpointUrl</key>
	<string>https://vitos.amp.chat/bugreports</string>
	<key>bugReportApp</key>
	<string>vitos_messenger-ios</string>
	<key>roomDirectoryServers</key>
	<dict>
		<key>matrix.org</key>
		<string></string>
	</dict>
	<key>userInterfaceTheme</key>
	<string>vitos</string>
	<key>supportedThemes</key>
	<array>
		<string>vitos</string>
	</array>
	<key>enableRegistration</key>
	<true/>
	<key>enableVoiceVideoCall</key>
	<false/>
	<key>enableQRCodeLogin</key>
	<true/>
	<key>enableCustomHomeserver</key>
	<false/>
	<key>enableDirectChat</key>
	<false/>
	<key>registrationAsRequest</key>
	<true/>
	<key>consentFilePath</key>
	<string>vitos_consent</string>
	<key>editableProfileInfo</key>
	<false/>
	<key>privacyPolicyFilePath</key>
	<string>vitos_privacy_policy</string>
	<key>requireLocalAuthentication</key>
	<true/>
	<key>termsAndConditionsFilePath</key>
	<string></string>
	<key>supportGroupCalls</key>
	<false/>
</dict>
</plist>
